<div class="form-container">
  <img src="../../assets/avatar.svg" class="avatar" alt="">
  <h1 class="login-title">WELCOME</h1>
  <div class="form-container-input">
    <label for="email">E-mail</label>
    <input name="email" type="text" [(ngModel)]="email" />
  </div>
  <div class="form-container-input">
    <label for="password">Password</label>
    <input name="password" type="password" [(ngModel)]="password" />
  </div>
  <button class="btn btn-login" (click)="userLogin()">LOGIN</button>

  <div class="register-button">
    <a routerLink="/register">Click to Register !</a>
  </div>
</div>
