<nav class="navbar bg-light">
  <a routerLink="/" class="logo"> Shopix </a>
  <div class="input-wrapper">
    <select name="" id="" class="category">
      <option value="">Tüm ürünlerde</option>
      <option value="">Markalarda</option>
      <option value="">Kategorilerde</option>
      <option value="">Kullanıcılar</option>
    </select>
    <div class="search-wrapper">
      <input type="text" class="search" placeholder="Ara..." />
      <i class="fas fa-search"></i>
    </div>
    <div class="button-wrapper">
      <button class="btn btn-primary">Üye Olun!</button>
      <button class="btn btn-primary">Giriş Yapın!</button>
    </div>
  </div>
  <div class="setting-wrapper">
    <a href="#">
      <i class="fas fa-bell"></i>
    </a>
    <a href="#">
      <i class="fas fa-envelope"></i>
    </a>
    <a href="#" class="avatar">
      <img src="../../assets/img/avatar.png" alt="avatar" />
    </a>
  </div>
</nav>
