<nav class="navbar bg-light">
  <a routerLink="/" class="logo"> Shopix </a>
  <div class="input-wrapper">
    <select name="" id="" class="category">
      <option value="">Tüm ürünlerde</option>
      <option value="">Markalarda</option>
      <option value="">Kategorilerde</option>
      <option value="">Kullanıcılar</option>
    </select>
    <div class="search-wrapper">
      <input type="text" class="search" placeholder="Ara..." />
      <i class="fas fa-search"></i>
    </div>
    <div class="button-wrapper" *ngIf="!isLogin">
      <button class="btn btn-primary">Üye Olun!</button>
      <button routerLink="/login" class="btn btn-primary">Giriş Yapın!</button>
    </div>
  </div>
  <div class="setting-wrapper">
    <a href="#">
      <i class="fas fa-bell"></i>
    </a>
    <a routerLink="/basket">
      <i class="pi pi-shopping-bag mr-4 p-text-secondary" pBadge style="font-size: 2rem" [value]="basketLen()" severity="success"></i>
    </a>
    <input type="checkbox" id="userMenu" />
    <label  for="userMenu" class="avatar">
      <img src="../../assets/img/avatar.png" alt="avatar" />
      <ul *ngIf="isLogin">
          <li (click)="exit()" ><i class="fas fa-sign-out-alt"></i> Çıkış Yap</li>
      </ul>
    </label>
  </div>
</nav>
